.card-list {
  /* max-width: 1200px; */
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1f 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

